<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2009, 2017 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
	
	<!-- 
	Obeo Designer Category : org.obeonetwork.dsl.viewpoint.category
    -->
   
	<!-- contribute new IS Model wizard  -->
	<extension point = "org.eclipse.ui.newWizards">
    	<wizard
			id = "org.obeonetwork.dsl.is.ui.wizards.ISModelWizardID"
			name = "IS Model"
			class = "org.obeonetwork.dsl.is.ui.wizards.ISModelWizard"      
			category = "org.obeonetwork.dsl.is.ui.categoryID"
			icon = "icons/full/obj16/ISModelFile.png">
			<description>Semantic IS and Graphical model</description>
			<selection class = "org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>

	<!-- contribute new IS Model wizard shortcut in CNF compliant views -->
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard type="new" wizardId="org.obeonetwork.dsl.is.ui.wizards.ISModelWizardID">
			<enablement></enablement>
		</commonWizard>
	</extension>

	<!-- contribute IS Model editor -->
	<extension point = "org.eclipse.ui.editors">
	    <editor
	          class="org.obeonetwork.dsl.is.ui.editor.ISEditor"
	          contributorClass="org.obeonetwork.dsl.overview.presentation.OverviewActionBarContributor"
	          extensions="ois"
	          icon="icons/full/obj16/ISModelFile.png"
	          id="org.obeonetwork.dsl.is.ui.editor.ISEditorID"
	          name="IS Editor">
	    </editor>
	</extension>

	<!-- contribute new IS Overview Model Def  -->
	<extension point="org.obeonetwork.dsl.overview.overviewModelDef">
		<overviewModelDef class="org.obeonetwork.dsl.is.overview.IsOverviewModelDef"/>
	</extension>
    
    <extension point = "org.eclipse.ui.newWizards">
    	<wizard
           category="org.obeonetwork.dsl.is.ui.categoryID"
           class="org.obeonetwork.dsl.is.ui.wizards.NewEntityModelWizard"
           hasPages="true"
           icon="icons/full/obj16/ISModelFile.png"
           id="org.obeonetwork.dsl.is.ui.wizards.NewEntityModelWizard"
           name="Entity Model">
			<description>New entity model wizard</description>ion>
		</wizard>
	</extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             categoryId="org.obeonetwork.dsl.is.ui.categoryID"
             id="org.obeonetwork.dsl.is.commands.openISNewModelWizard"
             name="Open IS New Model wizard">
          <commandParameter
                id="org.obeonetwork.dsl.is.commands.openISNewModelWizard.wizardID"
                name="Wizard ID"
                optional="false">
          </commandParameter>
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.obeonetwork.dsl.is.handlers.OpenISNewModelWizardHandler"
             commandId="org.obeonetwork.dsl.is.commands.openISNewModelWizard">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.obeonetwork.dsl.is.toolbars.isToolbar">
             <command
                   commandId="org.obeonetwork.dsl.is.commands.openISNewModelWizard"
                   icon="icons/sample.png"
                   id="org.obeonetwork.dsl.is.commands.openNewEntityModelWizard"
                   label="New entity model"
                   tooltip="New entity model">
                <parameter
                      name="org.obeonetwork.dsl.is.commands.openISNewModelWizard.wizardID"
                      value="org.obeonetwork.dsl.is.ui.wizards.NewEntityModelWizard">
                </parameter>
             </command>
             <command
                   commandId="org.obeonetwork.dsl.is.commands.openISNewModelWizard"
                   icon="icons/sample.png"
                   id="org.obeonetwork.dsl.is.commands.openNewISModelWizard"
                   label="New IS Model"
                   style="pulldown"
                   tooltip="New IS model">
             </command>
          </toolbar>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="menu:org.obeonetwork.dsl.is.commands.openNewISModelWizard">
          <command
                commandId="org.obeonetwork.dsl.is.commands.openISNewModelWizard"
                icon="icons/sample.png"
                id="org.obeonetwork.dsl.is.commands.openNewEntityModelWizard"
                label="New entity model"
                tooltip="New entity model">
             <parameter
                   name="org.obeonetwork.dsl.is.commands.openISNewModelWizard.wizardID"
                   value="org.obeonetwork.dsl.is.ui.wizards.NewEntityModelWizard">
             </parameter>
          </command>
          <command
                commandId="org.obeonetwork.dsl.is.commands.openISNewModelWizard"
                icon="icons/sample.png"
                id="org.obeonetwork.dsl.is.commands.openNewEntityModelWizard"
                label="New entity model 2"
                tooltip="New entity model">
             <parameter
                   name="org.obeonetwork.dsl.is.commands.openISNewModelWizard.wizardID"
                   value="org.obeonetwork.dsl.is.ui.wizards.NewEntityModelWizard">
             </parameter>
          </command>
       </menuContribution>
    </extension>
      
</plugin>
